*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    perspective: 1300px;
}
/* 自动轮播样式 */ 
 .banner-container{
	width:1699px;
	height:950px;
	/* 轮播图居中 */
	margin:1rem auto;
	/* 隐藏超出展示容器的内容 */
	overflow: hidden;
	position: absolute;
}

.banner-container .banner-img-container {
	width:8495px;
	height: 950px;
	overflow: hidden;
	position: absolute;
	/* 开启弹性盒，让图片横向排列 */
	display: flex;
	animation: run 50s ease infinite;
}

.banner-container .banner-img-container img{
	width:1699px;
	height:100%;
}

/* 动画关键帧 */
@keyframes run {
	0%,10%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
	20%,30%{
		/* margin-left: -1200px;; */
		transform: translateX(-1699px);
	}
	40%,50%{
		/* margin-left: -2400px; */
		transform: translateX(-3398px);
	}
	60%,70%{
		/* margin-left: -3600px; */
		transform: translateX(-5097px);
	}
	80%,90%{
		/* margin-left: -4800px; */
		transform: translateX(-6796px);
	}
	100%{
		/* margin-left: 0; */
		transform: translateX(0);
	}
}
#videofilm {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
  }
  h1{
    font-size: 36px;
    color: #B1BCE6;
    font-family: '楷体';
  }
.texttwo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}
.textone {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}
.textthree {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}
:root {
    --margin-top: 0;
    --margin-left: 0;
    --animation-duration: 0s;
    --animation-delay: 0s;
}
div {
    transform-style: preserve-3d;
}
.word-box,
.word-box .word{
position: absolute;
animation: rotY 0s linear infinite;
animation-duration: var(--animation-duration);
animation-delay: var(--animation-delay);
}
.word-box{
    margin-top: var(--margin-top);
}
.word-box .word{
    margin-left: var(--margin-left);
}
.word-box .word {
    animation-duration: reverse;
}
@keyframes rotY {
    to{
        transform: rotateY(360deg);
    }
    
}
